

<div class="container">

    <h1>Register a survey Poodle Account</h1>
    <form [formGroup]="registerForm"> 
    <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" type="text" name="username" id="username" placeholder="Enter your username..." formControlName ="username" required minlength="3">
    </div>
    
    <div *ngIf="username.invalid && (username.dirty || username.touched)">
    
    <p *ngIf ="username.errors.required">Username is required</p>
    <p *ngIf ="username.errors.minlength">Username must be at least 3 characters</p>
</div>
    <br>
    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password" placeholder="Enter your password..."
        formControlName="password" required minlength="5">
    </div>
    <div *ngIf="password.invalid && (password.dirty || password.touched)">
    <p *ngIf ="password.errors.required">password is required</p>
    <p *ngIf ="password.errors.minlength">password must be at least 5 characters</p>
</div>
    <br>
    
    
    <button class="btn btn-success btn-large" (click)="onRegisterClicked()" 
    type="button" [disabled]="isLoading || registerForm.invalid">Register</button>
    <br>
    <div *ngIf="registerError" class="alert alert-danger mt-2" role="alert">
        <h4>You have entered wrong credentials</h4>
        <p>{{registerError}}</p>
    
    </div>
    
    <div *ngIf="isLoading">
    <p>Registering your Account</p>
    </div>
    
    </form>
    <br>
    
    <a routerLink ="/login">Already have an Account</a>
</div>