
<div class="card" mb-2>
    <div class="card-body">
        

        <h4 class="card-title">{{survey.title}}</h4>
        <small class="card-subtitle">Creater: {{survey.user.username}} </small>
        <p class="card-text">{{survey.description}}</p>
        
    </div>
</div>


